body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-ur97uj {
    top: 50% !important;
    transform: translateY(-50%);
    right: 10px !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 56px;
}

.statistic {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
}

.css-4302v8 {
    width: inherit !important;
}

.css-1pxf3ec:active, .css-1pxf3ec[data-active], .css-1pxf3ec:hover, .css-1pxf3ec[data-hover] {
    background: none !important;
}

.css-0 {
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

}

tbody > tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40rem !important;
    cursor: pointer;
}

tbody > tr > td:first-child {
    border-radius: 20px 0 0 20px !important;
    border-right: 1px solid #B2B2B2;
}

tbody > tr > td:last-child {
    border-radius: 0 20px 20px 0 !important;
    border-left: 1px solid #B2B2B2;
}

table > thead {
    background: #2196F3;
    cursor: pointer;
}

.css-ntznb3:first-child {
    width: 10px;
    border-right: 1px solid #FFF;
    border-radius: 20px 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.css-ntznb3:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.css-ntznb3:last-child {
    border-left: 1px solid #FFF;
    border-radius: 0 20px 20px 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
